body {
    margin-bottom: 20px;
    background-image: url("../images/paper_fibers.png");
    background-repeat: repeat;
    overflow: hidden;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 24px;
}
.jumbotron {
    height: 190px;
    background-image: url("../images/marble-3.jpg");
    color: #ffffff;
}
#start-button {
    color: #000000;
    background-color: #ffffff;
}
.col-md-4 {
    text-align: center;
}
@media all and (max-width: 920px){
    body {
        margin: 0;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .jumbotron {
        height: 220px;
    }

}
